*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    overflow-x: hidden;
}
h5{
    color: #ff1e56;
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    /* background: #323232; */
}
nav .logo{
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 900;
    font-family: cursive;
    color: #ff1e56;
    letter-spacing: 5px;
}
nav .logo:hover{
    color: #ff1e56;
}
.nav-button{
    display: none;
    font-size: 2rem;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    margin: 0 .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
}
nav ul li:hover{
    background: #ff1e56;
}
nav ul li a{
    color: #323232;
    font-size: 1rem;
    letter-spacing: 2px;
}
nav ul li:hover a{ 
    color: #fff;
}
.landing-section{
    background : linear-gradient(to bottom, #cae1ff, #f0ffff);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.landing-section > *{
    flex: 1 1 100%;
}
.landing-text{
    flex-basis: 100%;
    padding-left: 10%;
}
.landing-text h2{
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}
.landing-text h2 span{
    display: block;
    font-size: 3rem;
    font-family: cursive;
    color: #ff1e56;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: .5rem;
}
.landing-text h3{
    line-height: 1.6;
    margin-bottom: .3rem;
    font-size: 1.5rem;
    color: #535461;
    font-family: Helvetica, sans-serif;
}
.landing-text p{
    color: #444;
}
.landing-image{
    flex-basis: 100%;
}
.landing-image svg{
    width: 100%;
    height: 100%;
}
#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    background: #323232;
}
#services h2{
    font-size: 2rem;
    color: #ff1e56;
}
#services p{
    padding-top: 1rem;
    color: #fff;
    text-align: center;
    max-width: 50%;
}
#about{
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .aboutus-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about .aboutus-content svg{
        width: 100px;
        height: 100px;
        margin-bottom: 1.5rem;
}
#about .aboutus-content p{
    text-align: center;
    max-width: 80%;
}
#contactus{
    padding: 5rem 2rem;
    background: #ebebeb;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center;
}
#contactus h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #ff1e56;
    text-transform: uppercase;
}
#contactus .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}
#contactus .form-container input{
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: .2rem;
    font-size: 1rem;
    width: 50%;
    outline: none !important;
    border: 1px solid #323232;
}

#contactus .form-container input[type = submit]{
    background: #ff1e56;
    width: 10%;
    border-color: #ff1e56;
    color: #fff;
}
#contactus .form-container .massage{
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: .2rem;
    width: 50%;
    font-size: 1rem;
    outline: none !important;
    border: 1px solid #323232;
}
#contactus .form-container textarea::placeholder{
    font-size: 1rem;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    flex-wrap: wrap;
    background: #323232;
}
footer .logo{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    font-family: cursive;
    color: #ff1e56;
    letter-spacing: 5px;
}
footer .contact{
    display: flex;
    flex-direction: column;
}

footer .contact a{
    padding: .5rem 0;
    color: #ff1e56;
}
.svg-icon {
    width: 2rem;
    height: 2rem;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ff1e56;
  }
  
  .svg-icon circle {
    stroke: #ff1e56;
    stroke-width: 1;
  }
  @media (max-width: 991px){
    .landing-text{
        padding-left: 3%;
    }
  }
  @media (max-width: 767px){
    nav{
        flex-direction: column;
        width: 100%;
        align-items: stretch;
    }
     .moblie{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .nav-button{
        display: initial;
        cursor: pointer;
    }
    nav ul {
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }
    nav ul.active{
        height: initial;
        transition: height 0.5s ease-in-out;
    }
    nav ul li a{
        font-size: 1.5rem;
    }
    
.landing-section{
    flex-direction: column;
    padding: 2rem 3rem;
    text-align: center;
    height: 100%;
}
.landing-section .landing-text{
    margin-bottom: 5rem;
}
#about {
        flex-wrap: wrap;
}
#about .aboutus-content{
    margin-bottom: 4rem;
}
#about .aboutus-content p{
    max-width: 50%;
}
#contactus .form-container input[type = submit]{
    width: 20%;
}
footer{
    flex-wrap: wrap;
}
footer > *{
    margin: 0 1rem;
    margin-bottom: 3rem;
}
  }
  @media (max-width: 575px){
    #services p {
        max-width: 80%;
    }
    #about .aboutus-content p {
        max-width: 80%;
    }
    #contactus .form-container input {
            width: 100%;
    }
    #contactus .form-container .massage{
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    footer .contact{
        text-align: center;
    }
  }