*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    background: #323232;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    padding: 1rem;
}
nav .logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
nav ul {
    display: flex;
}
nav ul li{
    margin: 0 1rem;
    padding: .5rem;
}
nav ul li a{
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
}
nav ul li a:hover{
    color: #ff1e56;
}