*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    /* background: #323232; */
}
nav .logo{
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 900;
    font-family: cursive;
    color: #ff1e56;
    letter-spacing: 5px;
}
nav .logo:hover{
    color: #ff1e56;
}
.nav-button{
    display: none;
    font-size: 2rem;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    margin: 0 .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
}
nav ul li:hover{
    background: #ff1e56;
}
nav ul li a{
    color: #323232;
    font-size: 1rem;
    letter-spacing: 2px;
}
nav ul li:hover a{ 
    color: #fff;
}
.landing-section{
    background : linear-gradient(to bottom, #cae1ff, #f0ffff);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.landing-section > *{
    flex: 1 1 100%;
}
.landing-text{
    flex-basis: 100%;
    padding-left: 10%;
}
.landing-text h2{
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}
.landing-text h2 span{
    display: block;
    font-size: 3rem;
    font-family: cursive;
    color: #ff1e56;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: .5rem;
}
.landing-text h3{
    line-height: 1.6;
    margin-bottom: .3rem;
    font-size: 1.5rem;
    color: #535461;
    font-family: Helvetica, sans-serif;
}
.landing-text p{
    color: #444;
}
.landing-image{
    flex-basis: 100%;
}
.landing-image svg{
    width: 100%;
    height: 100%;
}
#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    background: #323232;
}
#services h2{
    font-size: 2rem;
    color: #ff1e56;
}
#services p{
    padding-top: 1rem;
    color: #fff;
    text-align: center;
    max-width: 50%;
}
#about{
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-evenly;
}
#about .aboutus-content svg{
        width: 200px;
        height: 200px;
}